<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Greatest App</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <ul>
            <li>Menu section one </li>
            <li>Menu section two </li>
        </ul>
    </nav>
    <h1>This is a development test </h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur saepe atque perspiciatis natus, magnam
        minima, placeat a consequatur voluptates quasi molestias earum. Ipsum ratione deserunt ut amet, consectetur sed
        quibusdam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolorum debitis repudiandae dolorem! Aperiam, earum
        unde dignissimos voluptatem, eveniet veniam illum ut debitis placeat quos ipsam fugit odit, eos esse.</p>

</body>
<footer></footer>

</html>